email_validator
Flask
Flask-Executor
Flask-mailman
Flask-Migrate
flask-minify
Flask-Reuploaded
Flask-Security-Too[common]
Flask-Session
Flask-SQLAlchemy
flask-uploads
Flask-WTF
loguru
python-dotenv
requests
setuptools
tzdata
git+https://github.com/jokerinteractive/flask-resize@master
