{% extends "base.j2" %}

{% set title = "Рекорды" %}
{% set page = "record.records" %}

{% block title %}
  <div class="col-lg-5 ml-auto">
    <h1 class="text-white">Тут будут рекорды...</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, molestias repudiandae pariatur.</p>
  </div>
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>В разработке...</p>
      </div>
    </div>
  </div>
{% endblock content %}
