{% extends "base.j2" %}

{% set title = "Предложения" %}
{% set page = "suggestion.list" %}

{% block title %}
  <h1 class="text-white">Список предложений по улучшению сайта</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, molestias repudiandae pariatur.</p>
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul>
          {% for s_id in suggestions %}
            <li><a href="{{ url_for('suggestion.item', suggestion_id=s_id) }}">Предложение №{{ s_id }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
