{% extends "base.j2" %}

{% set page = "core.index" %}
{% set title = "Футбольные эксперты" %}


{% block title %}
  <div class="col-lg-12 ml-auto mt-3">
    {% if not current_user.is_authenticated %}
      <h2>Привет, неопознанный енот</h2>
    {% else %}
      <h2> Привет, <b>{{ current_user.username }}</b></h2>
    {% endif %}
    <h2>До начала следующего тура</h2>
    <div id="date-countdown"></div>
    <a href="{{ url_for('prediction.list') }}" class="btn btn-primary py-3 px-4 mr-3">Сделать прогноз на следующий тур</a>
  </div>
{% endblock title %}

{% block content %}
  {# <div class="row">
    <div class="col-lg-12">
      <div class="d-flex team-vs">
        <div class="team-1 w-50">
          <div class="team-details w-100 text-center">
            <h2>Турнирная таблица</h2>
          </div>
        </div>
        <div class="team-2 w-50">
          <div class="team-details w-100 text-center">
            <h2>Таблица РПЛ</h2>
          </div>
        </div>
      </div>
    </div>
  </div> #}
{% endblock content %}
