$breadcrumb-bg: transparent;
$breadcrumb-active-color: #ffffff;
$breadcrumb-divider-color: #ffffff;
$table-caption-color: #ffffff;
$h1-font-size: 2rem;
@import "bootstrap/bootstrap";
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "site-base";
@import "site-navbar";
@import "site-blocks";
