{% extends "base.j2" %}

{% set page = "records" %}

{% block title %}
  <h1>Рекорды</h1>
  {# {% if not current_user.is_authenticated %}
    <p>Привет, неопознанный енот</p>
  {% else %}
    <p> Привет, <b>{{ current_user.username }}</b></p>
  {% endif %} #}
{% endblock title %}
